[submodule "home/.fonts/powerline-fonts"]
	path = home/.fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
	branch = master
[submodule "home/.tmux/themes/solarized"]
	path = home/.tmux/themes/solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
	branch = master
[submodule "home/.config/dircolors-solarized"]
	path = home/.config/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	branch = master
[submodule "home/.vim/bundle/git-runtime"]
	path = home/.vim/bundle/git-runtime
	url = https://github.com/tpope/vim-git.git
	branch = master
[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
	branch = master
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
	branch = master
[submodule "home/.vim/bundle/ragtag"]
	path = home/.vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
	branch = master
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	branch = master
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	branch = master
[submodule "home/.vim/bundle/csapprox"]
	path = home/.vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
	branch = master
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
	branch = master
[submodule "home/.vim/bundle/indexed-search"]
	path = home/.vim/bundle/indexed-search
	url = https://github.com/vim-scripts/IndexedSearch.git
	branch = master
[submodule "home/.vim/bundle/delimitMate"]
	path = home/.vim/bundle/delimitMate
	url = https://github.com/vim-scripts/delimitMate.vim.git
	branch = master
[submodule "home/.vim/bundle/matchit"]
	path = home/.vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	branch = master
[submodule "home/.vim/bundle/markdown-runtime"]
	path = home/.vim/bundle/markdown-runtime
	url = https://github.com/tpope/vim-markdown.git
	branch = master
[submodule "home/.vim/bundle/gundo"]
	path = home/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
	branch = master
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	branch = master
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "home/.vim/bundle/repeat"]
	path = home/.vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "home/.vim/bundle/ack"]
	path = home/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	branch = master
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	branch = master
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	branch = master
[submodule "home/.vim/bundle/unimpaired"]
	path = home/.vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	branch = master
[submodule "home/.vim/bundle/ultisnips"]
	path = home/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	branch = master
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
	branch = master
[submodule "home/.vim/bundle/MatchTag"]
	path = home/.vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
	branch = master
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	branch = master
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
	branch = master
[submodule "home/.vim/bundle/vim-puppet"]
	path = home/.vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
	branch = master
[submodule "home/.vim/bundle/nerdtree-tabs"]
	path = home/.vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
	branch = master
[submodule "home/.vim/bundle/vim-snippets"]
	path = home/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
	branch = master
[submodule "home/.vim/bundle/checksyntax"]
	path = home/.vim/bundle/checksyntax
	url = https://github.com/tomtom/checksyntax_vim.git
	branch = master
[submodule "home/.vim/bundle/piv"]
	path = home/.vim/bundle/piv
	url = https://github.com/spf13/PIV.git
	branch = master
[submodule "home/.vim/bundle/phpcomplete"]
	path = home/.vim/bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
	branch = master
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
	branch = master
[submodule "home/.vim/bundle/vim-gitgutter"]
	path = home/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "home/.vim/bundle/neocomplete"]
	path = home/.vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
	branch = master
[submodule "home/.vim/bundle/vim-tagbar-css"]
	path = home/.vim/bundle/vim-tagbar-css
	url = https://github.com/mtscout6/vim-tagbar-css.git
	branch = master
[submodule "home/.vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	branch = master
[submodule "home/.vim/bundle/vim-multiple-cursors"]
	path = home/.vim/bundle/vim-multiple-cursors
	url = https://github.com/jrhorn424/vim-multiple-cursors.git
	branch = master
[submodule "home/.vim/bundle/ctrlp-funky"]
	path = home/.vim/bundle/ctrlp-funky
	url = git://github.com/tacahiroy/ctrlp-funky.git
	branch = master
[submodule "home/.vim/bundle/ctrlp-modified"]
	path = home/.vim/bundle/ctrlp-modified
	url = https://github.com/jasoncodes/ctrlp-modified.vim.git
	branch = master
[submodule "home/.vim/bundle/ctrlp-git-log"]
	path = home/.vim/bundle/ctrlp-git-log
	url = https://github.com/kaneshin/ctrlp-git-log.git
	branch = master
[submodule "home/.vim/bundle/vim-trailing-whitespace"]
	path = home/.vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
	branch = master
[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule "home/.bash_it"]
	path = home/.bash_it
	url = https://github.com/revans/bash-it.git
	branch = master
