[submodule "home/.powerline-shell"]
	path = home/.powerline-shell
	url = https://github.com/milkbikis/powerline-shell
[submodule "home/.fonts/powerline-fonts"]
	path = home/.fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
