[submodule "home/.fonts/powerline-fonts"]
	path = home/.fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
	branch = master
[submodule "home/.tmux/themes/solarized"]
	path = home/.tmux/themes/solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
	branch = master
[submodule "home/.config/dircolors-solarized"]
	path = home/.config/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	branch = master
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
